table{
    margin: 0px 0px 2% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

.site-header {
    background: #052A6E;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.site-navigation {

    display: flex;
    width: 700px;
    padding: 10px 20px;
    margin: 10px auto;
    justify-content: space-between;
}

.glav {
    padding: 0;
    margin: 5px 0;
    text-align: center;
    font-family: "Georgia", "Times", Serif;
    font-size: 45px;
    line-height: 36px;
    font-weight: 400;
}

.navigation-list {
    display: flex;
    margin: 0 -15px 0 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
}



.navigation-list a {
    display: block;
    vertical-align: center;
    padding: 10px 15px 11px 20px;
    margin: 20px 10px 0px 0px;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background: #29477F;
}

.site-footer a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
    margin: 5px 0px 5px 0px;
    border: 0px;
    color: #ffffff;
    background: #052A6E;
}

input, textarea, select{

    padding: 8px 16px;
    margin: 0 10px 10px 0;
    color: #191094;
    border: 1px solid #191094;
    border-radius: 4px;
    cursor: pointer;
}



a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 510px;
    padding: 0 20px;
    margin: 0 auto;
}

.catalog {
    padding-top: 15px;
    padding-bottom: 10px;
}

.catalog-a {
    margin: 5px;

    font-family: "Georgia", "Times", serif;
    font-size: 16px;
    line-height: 36px;

}

.products-list {
    display: flex;
    padding: 20px 0 0;
    margin: 0 0 0 -20px;

    flex-wrap: wrap;
    flex-shrink: 0;

    list-style: none;
}

.products-list li {
    display: flex;
}

.product-card {
    position: relative;

    display: flex;
    width: 132px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 124px 12px 12px;

    flex-direction: column;

    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-card-new {
    position: relative;
}

.product-card-new::after {
    position: absolute;
    content: "new";

    width: 34px;
    height: 15px;
    top: 8px;
    right: -2px;

    font-weight: 700;
    line-height: 14px;
    color: #ffffff;
    text-align: center;

    background-color: #052A6E;
    border-radius: 4px 0 0 4px;
}

.product-card img {
    position: absolute;
    top: 0;
    left: 0;
    order: -1;
}

.price {
    margin-right: 10px;
}

.colors-list li {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    border-radius: 50%;
}

.site-footer {
    background: #052A6E;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 10px -10px -10px 0;
    padding: 0;
    list-style: none;
}

.pagination a {
    display: flex;
    padding: 8px 16px;
    margin: 0 10px 10px 0;

    color: #052A6E;
    border: 1px solid #052A6E;
    border-radius: 4px;

    cursor: pointer;
}

.pagination a:empty {
    display: none;
}

.pagination a:focus,
.pagination a:hover {
    color: #ffffff;
    background-color: #052A6E;
}

.pagination a:active {
    box-shadow: inset 0 2px 10px #052A6E;
}

.pagination a.current {
    color: #ffffff;
    background-color: #052A6E;
    cursor: default;
}


.error{
    line-height: normal;
    color: red;
}